<div id="footer" class="container">
  <div class="row">
    <div class="col-12">
      <span class="copyright">&copy; {{ site.title }}. All rights reserved.</span>
      <ul class="icons">
          <li><a href="https://www.facebook.com/profile.php?id=100069932357898" class="icon brands fa-facebook-f" target="_blank"><span>Facebook</span></a></li>
          <li><a href="https://twitter.com/StopPesten19" class="icon brands fa-twitter" target="_blank"><span>Twitter</span></a></li>
          <li><a href="https://www.youtube.com/channel/UCtXlsUr9183G1fO8yWr2uwQ" class="icon brands fa-youtube" target="_blank"><span>YouTube</span></a></li>
          <li><a href="https://www.instagram.com/stoppestenofficial" class="icon brands fa-instagram" target="_blank"><span>Instagram</span></a></li>
          <li><a href="https://www.tiktok.com/@st0ppesten" class="icon brands fa-tiktok" target="_blank"><span>TikTok</span></a></li>
          <li><a href="https://discord.gg/eyewe3UDVK" class="icon brands fa-discord" target="_blank"><span>Discord</span></a></li>
      </ul>
    </div>
  </div>
</div>
