<div id="footer" class="container">
  <div class="row">
    <div class="col-12">
      <span class="copyright">&copy; {{ site.title }}. All rights reserved.</span>
      <ul class="icons">
        <li><a href="#" class="icon brands fa-facebook-f"><span>Facebook</span></a></li>
        <li><a href="#" class="icon brands fa-twitter"><span>Twitter</span></a></li>
        <li><a href="#" class="icon brands fa-instagram"><span>Instagram</span></a></li>
        <li><a href="#" class="icon brands fa-tiktok"><span>TikTok</span></a></li>
        <li><a href="#" class="icon brands fa-discord"><span>Discord</span></a></li>
      </ul>
    </div>
  </div>
</div>
